
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Loginprocess</title>
</head>
<body>
    <form method="post">
        UserName:<input type="text" id="un" name="un" />
        <br />
        Password:<input type="password" name="pass" id="pass" />
        <br />
        <input type="submit" value="Login" />
    </form>

</body>
</html>
