
@{
    ViewBag.Title = "Index";

}

<h1>WELCOME....</h1>
<form method="post"/>
UserName:<input type="text" id="un" name="un"/>
</br>
Passwrd:<input type="password" id="pass" name="pass"/>
</br>
<input type="submit" value="Login"/>
</form>
<h2>@ViewBag.Msg</h2>

